.main__title {
  font-weight: bold;
  font-size: 40px;
  line-height: 1.15;
  margin-bottom: 10px;
}

@media screen and (max-width: 1289px) {
  .main__title {
    text-align: center;
    margin: 10px 0 20px;
  }
}

@media screen and (max-width: 767px) {
  .main__title {
    margin: 0 0 5px;
  }
}