.main__list {
  list-style: none;
  color: white;
  font-weight: normal;
  font-size: 16px;
  text-shadow: 1px 1px 1px black;
}

@media screen and (max-width: 1289px) {
  .main__list {
    padding-left: 30px;
  }
}

@media screen and (max-width: 767px) {
  .main__list {
    padding: 0;
  }
}