@import url(../Blocks/root/root.css);
@import url(../Blocks/root/_it/root__it.css);
/* блок navigation */
@import url(../Blocks/navigation/navigation.css);
@import url(../Blocks/navigation/_place/navigation_place_it.css);
@import url(../Blocks/navigation/__item/navigation__item.css);
/* блок main */
@import url(../Blocks/main/main.css);
@import url(../Blocks/main/__bg/main__bg.css);
@import url(../Blocks/main/__header/main__header.css);
@import url(../Blocks/main/__title/main__title.css);
@import url(../Blocks/main/__title/_place/main__title_place_main.css);
@import url(../Blocks/main/__list/main__list.css);
@import url(../Blocks/main/__text/main__text.css);
/* блок footer */
@import url(../Blocks/footer/footer.css);
@import url(../Blocks/footer/_place/footer_place_it.css);
/* блок article */
@import url(../Blocks/article/article.css);



.main-it {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* column-gap: 20px; */
  width: 93%;
  margin: 0 auto;
}

.section_it {
  width: 523px;
  margin-bottom: 30px;
}

.main__header {
  color: white;
  font-weight: bold;
  font-size: 40px;
  line-height: 1.15;
  margin-bottom: 10px;
}

.main__header_it {
  color: black;
  margin: 20px auto 40px;
  text-align: center;
}

.main__header2_it {
  min-height: 70px;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 20px;
}

.main__header3_it {
  font-weight: bold;
  font-size: 20px;
  margin: 15px 0;
}

.main__list {
  list-style: none;
  color: white;
  font-weight: normal;
  font-size: 16px;
}
